html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
}

#entete{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50%;
	position: relative;
	overflow: hidden;
	background-color: transparent;
	z-index: 1;
}

.video_entete{
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}